*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F1DBBF;
}

.header{
  background-color: #698269;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

.header__container {
  max-width: 1100px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header__logo {
border-radius: 15px;
 width: 150px;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar__link {
  text-decoration: none;
  color: #F1DBBF;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left:  20px;
  margin-right: 47px;
}

.cart{
  display: flex;
  position: relative;
}

.cart__img{
  width: 50px;
}

.cat__notificacion{
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  color: white;
  font-weight: bolder;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -6px;
  top: -8px;
}

.main{
  padding: 25px;

}

.button{
  all: unset;
  display: block;
  padding: 10px 10px;
  width: 100px;
  text-align: center;
  background-color: #AA5656;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;

}
.box-cantidad{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.btnMasMenos{
  all: unset;
  width: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #F1DBBF;
  background-color: #B99B6B;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.main__cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;

}

.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.img__card{
  width: 200px;
  border-radius: 5px;
  margin-top: 5px;

}

.detail__img{
  width: 350px;
  margin: 12px 0px;
  border-radius: 10px;
}
.card{
  max-width: 230px;
  text-align: center;
}

table{
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

tr{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  align-items: center;

}

.fila__head{
  border-bottom: 2px #AA5656 solid;
}

.fila__img{
  width: 100px;
  border-radius: 10%;
}

.fila{
  border-bottom: 1px solid #AA5656;
 margin-top: 5px;
}

.total__car{
  font-weight: bolder;
  font-size: 20px;
}

.box-buttons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;

}

.box-buttons button{
  width: 150px;
  margin: 0;
}

.volver{
  all: unset;
}

.btnDelete{
  cursor: pointer;
  padding: 5px;
}

.formulario{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  gap: 5px;
}

.formulario__input{
  padding: 10px;
  border: 1px;
  border-radius: 10px;
}

